html{ font-size: 62.5% }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5 'Microsoft YaHei', arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
a{ color:#fff; text-decoration:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);  }
a:focus{ outline:none; -moz-outline:none;}
a:visited{ outline:none; -moz-outline:none;}
select,select:focus{ outline:none}
input,textarea,select{ background:none; border:none;font-family:"Microsoft Yahei"; line-height:normal; outline:none;}
input[type="button"],input[type="radio"],input[type="checkbox"],select{-webkit-appearance:none;}
img{ display: block;width: 100%; }
.btn{ background:none; border:none; line-height:normal; cursor:pointer;  outline: none;font-family:"Microsoft Yahei";}
.clearfix:after{ content:"."; display:block; clear:both; height:0; line-height:0; font-size:0; visibility:hidden;}